@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 120px;
  position: absolute;
  top: 40px;
  right: 80px;
}

/*Button Section*/
.buttonContainer {
  position: absolute;
  right: 60px;
  bottom: 40px;
  width: 70px;
}

.buttonSection {
  height: 60px;
  margin-top: 20px;
  -moz-transition: -moz-transform ease 0.1s;
-webkit-transition: -webkit-transform ease 0.1s;
-o-transition: -o-transform ease 0.1s;
-ms-transition: -ms-transform ease 0.1s;
transition: transform ease 0.1s;
}

.buttonSection:hover
{
  cursor: pointer;
  -moz-transform: rotate(30deg) scale(1.10);
  -webkit-transform: rotate(30deg) scale(1.10);
  -o-transform: rotate(30deg) scale(1.10);
  -ms-transform: rotate(30deg) scale(1.10);
  transform: rotate(30deg) scale(1.10);
}

.transitionCover {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5000;
  opacity: 0;
}

.fadeCover {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  transition: opacity .25s ease-out;
-moz-transition: opacity .25s ease-out;
-webkit-transition: opacity .25s ease-out;
opacity: 0;
}

/* DARK EFFECTS */
.dark .containerd {
  position: absolute;
  left: 50%;
  margin-top: 300px;
  font-family: 'Roboto', sans-serif;
}
.dark .containerdHelp {
  position: relative;
  left: -50%;
}

.dark h1 {
  font-size: 80px;
  color: black;
  font-weight: 700;
}

.dark h1 {
  font-size: 80px;
  color: black;
  font-weight: 700;
}

.dark .myIntro {
  font-size: 16px;
}

.dark em{
  background-color: #FFD2A6;
  padding: 2px 7px 2px 5px;
  font-style: normal;
  line-height: 30px;
}


/* Cheer EFFECTS */

.cheer .covering{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
    background: #E2E7E8;
  overflow: hidden;
}
.noOverflow {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.cheer .containerd {
  z-index: 500;
  position: absolute;
  left: 50%;
  margin-top: 200px;
  font-family: 'Indie Flower', cursive;
}
.cheer .containerdHelp {
  position: relative;
  left: -50%;
}

.cheer h1 {
  font-size: 80px;
  color: #808285;
  font-weight: 700;
}

.cheer h1 {
  font-size: 80px;
  color: #808285;
  font-weight: 700;
}

.cheer .myIntro {
  font-size: 18px;
  color: #808285;
}

.cheer em{
  /*background-color: #FFD2A6;*/
  /*padding: 2px 7px 2px 5px;*/
  font-style: normal;
  line-height: 30px;
}

/*Cheer Images*/

.water1{
  position: absolute;
  bottom: -50px;
}
.water2{
  position: absolute;
  bottom: -70px;
}
.iceberg{
  height: 390px;
  position: absolute;
  bottom: -20px;
  left: 0; right: 0;
	margin: auto;
}
.boat {
  height: 100px;
  bottom: 38px;
  left: 20px;
  position: absolute;
  -webkit-transition: left 2s; /* Safari */
   transition: left 2s;
}
.move-right {
left: 200px;
}
.cloud {
  height: 40px;
  position: absolute;
}
.cloud1 {
  top: 300px;
  left: 200px;
}
.cloud2 {
  top: 100px;
  left: 500px;
}
.cloud3 {
  top: 400px;
  right: 200px;
}
.cloud4 {
  top: 200px;
  left: 1000px;
}



/*Lets Hids my Loading Page with CSS B)*/

.bigWhite{
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 500;
  top: 0;
  position: absolute;
}

.signup-response{

     animation:signup-response 0.5s 1;
    -webkit-animation:signup-response 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:2.5s;
    -webkit-animation-delay:2.5s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;

}

@keyframes signup-response{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes signup-response{
    from {opacity :1;}
    to {opacity :0;}
}
/*PART 2*/

.hideMe {
    -moz-animation: cssAnimation 0s ease-in 3s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 3s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

.loading-logo {
  margin-top: 200px;
  height: 200px;
}
